[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mock = "*"
pytest = "*"

[packages]
paho-mqtt = "*"
enum34 = "*"
PyYAML = "*"
Cerberus = "*"

[requires]
python_version = "3.6"
