[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
mock = "*"
pytest = "*"
tox = "*"
pylint = "*"

[packages]
PyYAML = ">=5.3.1"
Cerberus = "*"
hbmqtt = "*"

[requires]
python_version = "3.6"

[pipenv]
allow_prereleases = true
