# Documentation Versions

## Releases

{% for ver in releases %}
- <a href="/{{ ver }}" target="_self">{{ ver }}</a>
{%- endfor %}

## Other Versions

{% for ver in other_versions %}
- <a href="/{{ ver }}" target="_self">{{ ver }}</a>
{%- endfor %}

