mqtt:
  type: dict
  required: yes
  schema:
    host:
      type: string
      empty: no
      required: yes
    port:
      type: integer
      min: 1
      max: 65535
      required: no
      default: 1883
    user:
      type: string
      required: no
      default: ""
    password:
      type: string
      required: no
      default: ""
    client_id:
      type: string
      required: no
      default: ""
    topic_prefix:
      type: string
      required: no
      default: ""
      coerce: rstrip_slash
    clean_session:
      type: boolean
      required: no
      default: false
    protocol:
      type: string
      required: no
      empty: no
      coerce: tostring
      default: "3.1.1"
      allowed:
        - "3.1"
        - "3.1.1"
    keepalive:
      type: integer
      min: 1
      required: no
      default: 10
    status_topic:
      type: string
      required: no
      default: status
    status_payload_running:
      type: string
      required: no
      default: running
    status_payload_stopped:
      type: string
      required: no
      default: stopped
    status_payload_dead:
      type: string
      required: no
      default: dead
    discovery:
      type: boolean
      required: no
      default: no
    discovery_prefix:
      type: string
      required: no
      default: "homeassistant"
      coerce: rstrip_slash
    discovery_name:
      type: string
      required: no
      default: "MQTT IO"
    client_module:
      type: string
      required: no
      default: mqtt_io.mqtt.asyncio_mqtt
    tls:
      type: dict
      required: no
      schema:
        enabled:
          type: boolean
          required: yes
        ca_certs:
          type: string
          required: no
        certfile:
          type: string
          required: no
        keyfile:
          type: string
          required: no
        cert_reqs:
          type: string
          required: no
          allowed:
            - CERT_NONE
            - CERT_OPTIONAL
            - CERT_REQUIRED
          default: CERT_REQUIRED
        tls_version:
          type: string
          required: no
        ciphers:
          type: string
          required: no
        insecure:
          type: boolean
          required: no
          default: false

gpio_modules:
  type: list
  required: no
  default: []
  schema:
    type: dict
    allow_unknown: yes
    schema:
      name:
        type: string
        required: yes
        empty: no
      module:
        type: string
        required: yes
        empty: no
      cleanup:
        type: boolean
        required: no
        default: yes

sensor_modules:
  type: list
  required: no
  default: []
  schema:
    type: dict
    allow_unknown: yes
    schema:
      name:
        type: string
        required: yes
        empty: no
      module:
        type: string
        required: yes
        empty: no
      cleanup:
        type: boolean
        required: no
        default: yes

stream_modules:
  type: list
  required: no
  default: []
  schema:
    type: dict
    allow_unknown: yes
    schema:
      name:
        type: string
        required: yes
        empty: no
      module:
        type: string
        required: yes
        empty: no
      cleanup:
        type: boolean
        required: no
        default: yes
      retain:
        type: boolean
        required: no
        default: no
      read_interval:
        type: float
        required: no
        default: 60
        min: 0.01

digital_inputs:
  type: list
  required: no
  default: []
  schema:
    type: dict
    allow_unknown: yes
    schema:
      name:
        type: string
        required: yes
        empty: no
      module:
        type: string
        required: yes
        empty: no
      pin:
        type:
          - string
          - integer
        required: yes
        empty: no
      on_payload:
        type: string
        required: no
        empty: no
        default: "ON"
      off_payload:
        type: string
        required: no
        empty: no
        default: "OFF"
      inverted:
        type: boolean
        required: no
        default: no
      interrupt_payload:
        type: string
        required: no
        default: "INT"
      pullup:
        type: boolean
        required: no
        default: no
      pulldown:
        type: boolean
        required: no
        default: no
      interrupt:
        type: string
        required: no
        allowed:
          - rising
          - falling
          - both
      interrupt_for:
        type: list
        required: no
        minlength: 1
      bouncetime:
        type: integer
        required: no
        default: 100
        min: 1
      retain:
        type: boolean
        required: no
        default: no
      poll_interval:
        type: float
        required: no
        default: 0.1
      poll_when_interrupt_for:
        type: boolean
        required: no
        default: yes

digital_outputs:
  type: list
  required: no
  default: []
  schema:
    type: dict
    allow_unknown: yes
    schema:
      name:
        type: string
        required: yes
      module:
        type: string
        required: yes
      pin:
        type:
          - string
          - integer
        required: yes
        empty: no
      on_payload:
        type: string
        required: no
        empty: no
        default: "ON"
      off_payload:
        type: string
        required: no
        empty: no
        default: "OFF"
      inverted:
        type: boolean
        required: no
        default: no
      timed_set_ms:
        type: integer
        required: no
        empty: yes
      initial:
        type: string
        required: no
        allowed:
          - high
          - low
      publish_initial:
        type: boolean
        required: no
        default: no
      retain:
        type: boolean
        required: no
        default: no

sensor_inputs:
  type: list
  required: no
  default: []
  schema:
    type: dict
    allow_unknown: yes
    schema:
      name:
        type: string
        required: yes
        empty: no
      module:
        type: string
        required: yes
        empty: no
      retain:
        type: boolean
        required: no
        default: no
      interval:
        type: integer
        required: no
        default: 60
        min: 1
      digits:
        type: integer
        required: no
        default: 2
        min: 0
      unit_of_measurement:
        type: string
        required: no
      expire_after:
        type: integer
        required: no
        min: 1

stream_reads:
  type: list
  required: no
  default: []
  schema:
    type: dict
    allow_unknown: yes
    schema:
      name:
        type: string
        required: yes
        empty: no
      module:
        type: string
        required: yes
        empty: no
      retain:
        type: boolean
        required: no
        default: no
      encoding:
        type: string
        required: no
      read_interval:
        type: float
        required: no
        default: 60
        min: 0.01

stream_writes:
  type: list
  required: no
  default: []
  schema:
    type: dict
    allow_unknown: yes
    schema:
      name:
        type: string
        required: yes
        empty: no
      module:
        type: string
        required: yes
        empty: no
        
logging:
  type: dict
  required: no
  allow_unknown: yes
  default:
    version: 1
    handlers:
      console:
        class: logging.StreamHandler
        formatter: default
        level: INFO
    formatters:
      default:
        format: "%(asctime)s %(name)s [%(levelname)s] %(message)s"
        datefmt: "%Y-%m-%d %H:%M:%S"
    loggers:
      mqtt_io:
        level: INFO
        handlers:
          - console
        propagate: yes
