- [**MQTT IO**](/)

- Documentation

  - [Versions](../versions.md)

- Configuration

  - [Usage Scenarios](config/scenarios.md)
  - [Interrupts](config/interrupts.md)
  - [Home Assistant Discovery](config/ha_discovery.md)
  - [V2 Changes](config/v2-changes.md)
  - Section Reference
  {%- for ref_section in ref_sections %}
    - [{{ ref_section["title"] }}]({{ ref_section["path"] }})
  {%- endfor %}

- Deployment

  - [Supervisor](deployment/supervisor.md)
  - [Docker](deployment/docker.md)

- Development

  - [Config Schema](dev/config_schema.md)
  - [Modules](dev/modules/README.md)
  - [Changelog](CHANGELOG.md)
