div.schema-0 {
    background-color: #E8E8E8;
    padding: 10px;
}

div.schema-1 {
    background-color: #F5F5F5;
    padding: 10px;
}

div.schema-2 {
    background-color: #E8E8E8;
    padding: 10px;
}

div.schema-3 {
    background-color: #F5F5F5;
    padding: 10px;
}
